
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 66% 15%;
    --foreground: 0 0% 98%;
    --card: 231 66% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 231 66% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 291 64% 42%;
    --primary-foreground: 0 0% 98%;
    --secondary: 219 100% 58%;
    --secondary-foreground: 0 0% 98%;
    --muted: 231 40% 25%;
    --muted-foreground: 0 0% 70%;
    --accent: 219 100% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 40% 30%;
    --input: 231 40% 30%;
    --ring: 219 100% 58%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 231 66% 15%;
    --foreground: 0 0% 98%;
    --card: 231 66% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 231 66% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 291 64% 42%;
    --primary-foreground: 0 0% 98%;
    --secondary: 219 100% 58%;
    --secondary-foreground: 0 0% 98%;
    --muted: 231 40% 25%;
    --muted-foreground: 0 0% 70%;
    --accent: 219 100% 58%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 40% 30%;
    --input: 231 40% 30%;
    --ring: 219 100% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
